html {
  font-size: 1vh;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Average Sans", sans-serif;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide:nth-child(1) .panel > * {
  background: #636fee;
  color: #7594f0;
}

.slide:nth-child(2) .panel > * {
  background: #a8cb86;
  color: #bdd194;
}

.slide:nth-child(3) .panel > * {
  background: #63afee;
  color: #75cdf0;
}

.slide:nth-child(4) .panel > * {
  background: #d24b62;
  color: #d65c5c;
}

.slide:nth-child(5) .panel > * {
  background: #636fee;
  color: #7594f0;
}

.slide:nth-child(6) .panel > * {
  background: #a8cb86;
  color: #bdd194;
}

.slide:nth-child(7) .panel > * {
  background: #63afee;
  color: #75cdf0;
}

.slide:nth-child(8) .panel > * {
  background: #d24b62;
  color: #d65c5c;
}

.slide:nth-child(9) .panel > * {
  background: #636fee;
  color: #7594f0;
}

.slide:nth-child(10) .panel > * {
  background: #a8cb86;
  color: #bdd194;
}

.slide:nth-child(11) .panel > * {
  background: #63afee;
  color: #75cdf0;
}


.slide .center {
  opacity: 0;
  -webkit-transition: opacity linear 300ms;
  transition: opacity linear 300ms;
}

.slide .panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide .top, .slide .bottom {
  content: attr(data-back);
  position: absolute;
  font-size: 20vh;
  font-weight: 800;
  height: 50vh;
  width: 100vw;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
  transition: -webkit-transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
  transition: transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
  transition: transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865), -webkit-transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);

  text-shadow: #FEFEFE 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

.slide .top:after, .slide .bottom:after {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
  transition: -webkit-transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
  transition: transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
  transition: transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865), -webkit-transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
  content: attr(data-back);
  font-family: "BenchNine", sans-serif;
}

.slide .top {
  line-height: 100vh;
  -webkit-transform: translatey(-50vh);
          transform: translatey(-50vh);
}

.slide .top:after {
  -webkit-transform: translatey(50vh);
          transform: translatey(50vh);
}

.slide .bottom {
  bottom: 0;
  line-height: 0vh;
  -webkit-transform: translatey(50vh);
          transform: translatey(50vh);
}

.slide .bottom:after {
  -webkit-transform: translatey(-50vh);
          transform: translatey(-50vh);
}

.slide.active .center {
  opacity: 1;
  -webkit-transition: opacity linear 300ms;
  transition: opacity linear 300ms;
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}

.slide.active .top, .slide.active .bottom {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translatey(0);
          transform: translatey(0);
  z-index: -1;
}

.slide.active .top:after, .slide.active .bottom:after {
  -webkit-transition: -webkit-transform cubic-bezier(0.23, 1, 0.32, 1) 1200ms;
  transition: -webkit-transform cubic-bezier(0.23, 1, 0.32, 1) 1200ms;
  transition: transform cubic-bezier(0.23, 1, 0.32, 1) 1200ms;
  transition: transform cubic-bezier(0.23, 1, 0.32, 1) 1200ms, -webkit-transform cubic-bezier(0.23, 1, 0.32, 1) 1200ms;
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.center {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  z-index: 2;
  text-align: center;
}

.center h1 {
  font-size: 5vh;
  line-height: 1;
  font-family: "BenchNine", sans-serif;
  opacity: 0.4;
}

/*
https://fonts.googleapis.com/css?family=Average+Sans|BenchNine:700
*/

@font-face {
  font-family: 'Average Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Average Sans Regular'), local('AverageSans-Regular'), url(dnU3R-5A_43y5bIyLztPsYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 700;
  src: local('BenchNine Bold'), local('BenchNine-Bold'), url(qZpi6ZVZg3L2RL_xoBLxWYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

/*
Custom loading animation
*/
@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.loading-animation span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.loading-animation span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.loading-animation span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}

/*
Hint Overlay
*/

#hint-overlay {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    display: none;
    background-color: rgba(255, 255, 153, 0.5);
}

#hint-overlay article {
    margin: 16px;
    border: 0px;
}
